button,
input[type="button"] {
  height: 36px;
  min-width: 88px;
  padding: 0 8px;
  background: none;
  border: none;
  border-radius: 1px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  outline: none !important;
  cursor: pointer;
}
button:disabled,
input[type="button"]:disabled {
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none !important;
}
.btn-flat {
  margin: 0 8px;
  box-shadow: none;
  min-width: 64px;
  color: rgba(0, 0, 0, 0.87);
}
.btn-flat:hover {
  background-color: rgba(153, 153, 153, 0.2);
}
.btn-flat:disabled {
  background-color: transparent !important;
  color: rgba(0, 0, 0, 0.26) !important;
}
.btn-flat.first {
  margin-left: -8px;
}
.btn-flat.last {
  margin-right: -8px;
}
form label {
  font-size: .9rem;
}
form input[type="text"],
form input[type="select"],
form input[type="tel"],
form textarea {
  width: 100%;
  margin-bottom: 14px;
  padding: 10px 0 8px 0;
  color: rgba(0, 0, 0, 0.87);
  background: transparent none;
  border: none;
  outline: none !important;
  box-shadow: none;
  border-bottom: 1px solid #e1e1e1;
  font-weight: 300;
  border-radius: 0;
}
form input[type="text"]:focus,
form input[type="select"]:focus,
form input[type="tel"]:focus,
form textarea:focus {
  border-bottom: 1px solid #009688;
  box-shadow: 0 1px 0 0 #009688;
}
form input[type="text"]:focus:invalid,
form input[type="select"]:focus:invalid,
form input[type="tel"]:focus:invalid,
form textarea:focus:invalid {
  border-color: #E74C3C;
  box-shadow: 0 1px 0 0 #E74C3C;
}
form input[type="text"]:disabled,
form input[type="select"]:disabled,
form input[type="tel"]:disabled,
form textarea:disabled {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.12);
}
form input[type="text"] ~ span.error,
form input[type="select"] ~ span.error,
form input[type="tel"] ~ span.error,
form textarea ~ span.error {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: -1px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  opacity: 0;
}
form input[type="text"].dirty ~ span.error,
form input[type="select"].dirty ~ span.error,
form input[type="tel"].dirty ~ span.error,
form textarea.dirty ~ span.error,
form input[type="text"]:focus ~ span.error,
form input[type="select"]:focus ~ span.error,
form input[type="tel"]:focus ~ span.error,
form textarea:focus ~ span.error {
  opacity: 1;
}
form input[type="text"]:invalid ~ span.error,
form input[type="select"]:invalid ~ span.error,
form input[type="tel"]:invalid ~ span.error,
form textarea:invalid ~ span.error {
  color: #E74C3C;
}
form textarea {
  resize: none;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #263238;
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
#navbar a.nav-link {
  color: rgba(255, 255, 255, 0.87);
  line-height: 50px;
  -webkit-transition: line-height 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  -o-transition: line-height 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: line-height 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}
@media screen and (min-width: 737px) {
  #navbar.expand {
    background-color: transparent;
  }
  #navbar.expand a.nav-link {
    color: #283593;
    line-height: 90px;
  }
  #navbar.expand .logo a {
    margin-left: -107px;
    opacity: 0;
  }
  #navbar.expand ul.nav li a.active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
#navbar .logo a {
  font-size: 16px;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 0;
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#navbar .logo img {
  width: 24px;
  margin-left: 10px;
  vertical-align: middle;
}
#navbar ul.nav {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 991px) {
}
#navbar ul.nav li {
  display: inline-block;
}
@media screen and (max-width: 737px) {
  #navbar ul.nav li.collapse {
    display: none;
  }
}
#navbar ul.nav li a {
  display: inline-block;
  padding: 0 14px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  outline: none;
}
#navbar ul.nav li a.nav-image-link {
  padding: 0 15px;
  font-size: 45px;
}
#navbar ul.nav li a.nav-image-link img {
  height: 35px;
}
#navbar ul.nav li a.active {
  -webkit-box-shadow: inset 0 -4px 0 #009688;
  -moz-box-shadow: inset 0 -4px 0 #009688;
  box-shadow: inset 0 -4px 0 #009688;
}
#navbar .navbar-toggle {
  position: relative;
  margin-left: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background: transparent none;
  border: 1px solid transparent;
  border-radius: 0;
}
@media (min-width: 992px) {
  #navbar .navbar-toggle {
    display: none;
  }
}
#navbar .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}
#navbar .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.post .post-date {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.8rem;
}
.post .post-date h2 {
  font-size: 0.8rem;
}
.post h1 {
  margin-top: 0;
  margin-bottom: 8px;
}
.post h3 {
  margin-top: 7px;
  margin-bottom: 9px;
  font-size: 1.9em;
  font-weight: 400;
}
.post h3 a {
  color: #3498db;
  text-decoration: none;
}
.post h3 a:hover {
  text-decoration: underline;
}
.post .content {
  margin-top: 14px;
  line-height: 160%;
}
.post .content img {
  width: 100%;
  margin: 24px auto;
}
.post .content p {
  margin-bottom: 0;
  font-size: 1rem;
  text-align: left;
  line-height: 160%;
}
.post .content blockquote {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 7px;
  border-left: 3px solid #455A64;
}
.post .content blockquote + p {
  margin-top: 0;
  text-align: right;
  font-style: italic;
  font-size: .8rem;
}
.post.post-preview {
  margin-top: 36px;
}
.post ul.tags {
  margin: 0;
  padding: 0;
  list-style: none;
}
.post ul.tags li {
  display: inline-block;
  margin-right: 4px;
  max-height: 20px;
  vertical-align: top;
}
.post ul.tags li,
.post ul.tags li a {
  color: #455A64;
  font-size: 0.8rem;
}
.post ul.tags li a {
  line-height: 20px;
}
.post ul.tags li img {
  width: 20px;
}
.read-more-link {
  display: inline-block;
  padding: 10px 8px;
  margin-top: 4px;
  margin-left: -8px;
  color: rgba(0, 0, 0, 0.87);
  font-size: .8em;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}
.read-more-link:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
#blog {
  margin: 0 7.14286%;
  padding: 24px 0 72px 0;
}
#blog .post-list,
#blog .post-wrapper {
  margin: 0 auto;
  max-width: 44em;
}
#blog.main {
  padding: 72px 0;
}
#lightbox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.81);
}
#lightbox.hidden {
  display: none;
}
#lightbox .back {
  flex: 0 0 50%;
  cursor: pointer;
  background-image: url("/img/back.svg");
  background-position: 24px 24px;
  background-repeat: no-repeat;
}
#lightbox .back:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#lightbox .close {
  flex: 0 0 50%;
  cursor: pointer;
  background-image: url("/img/close.svg");
  background-position: right 24px top 24px;
  background-repeat: no-repeat;
}
#lightbox .close:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#lightbox .image {
  position: fixed;
  top: 24px;
  right: 10%;
  bottom: 24px;
  left: 10%;
  cursor: pointer;
}
#lightbox .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#lightbox.v .image img {
  height: 100%;
  width: auto;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fafafa;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1110px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1350px;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1510px;
  }
}
hr {
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
footer {
  padding: 24px 0;
  background-color: #212121;
  background-image: url("/img/gray.png");
  background-repeat: repeat;
  color: #ffffff;
}
footer hr {
  border-top: 1px solid #ddd;
}
footer > div {
  margin: 0 auto;
  width: 80%;
  max-width: 400px;
  text-align: center;
}
footer p.hugo {
  color: #ddd;
  font-size: 0.7rem;
}
footer p.hugo a {
  color: #ddd !important;
}
footer .social {
  padding-top: 24px;
}
footer ul.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer ul.footer-nav li {
  padding: 0 14px;
}
footer ul.footer-nav li a {
  color: #ddd;
  text-align: center;
  font-size: 0.8rem;
  text-decoration: none;
}
section {
  padding: 24px;
}
section p {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.6em;
}
section.text-left h2,
section.text-left p {
  text-align: left;
}
.header {
  text-align: center;
  font-size: 2.3em;
  font-weight: 400;
}
#page {
  margin: 0 7.14286%;
  padding: 72px 0;
}
#page .page-wrapper {
  margin: 0 auto;
  max-width: 44em;
}
#page .page-content .content {
  margin-top: 14px;
  line-height: 160%;
}
#top {
  height: 700px;
  padding: 0;
  background: url("/img/top.jpg");
  background-size: cover;
  background-position: 50% 60%;
}
#top .top-content {
  padding-top: 90px;
}
#top .top-content .logo {
  margin: 0 auto;
  width: 60%;
  max-width: 360px;
}
#top .top-content h1 {
  display: inline-block;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 5px;
  text-align: center;
  font-weight: 300;
}
#main {
  padding: 0;
  color: #fff;
  background-color: #212121;
}
#main > div {
  padding: 24px;
  background-color: #212121;
}
@media screen and (min-width: 737px) {
  #main {
    height: 700px;
    background-image: url("/img/main-bw.jpg");
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #main > div {
    height: 700px;
    margin-right: 40%;
    padding: 48px;
  }
}
@media screen and (min-width: 994px) {
  #main > div {
    margin-right: 55%;
  }
}
@media screen and (min-width: 1410px) {
  #main > div {
    margin-right: 65%;
  }
}
#portfolio {
  background-color: #fff;
}
#portfolio .photo-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1336px) {
  #portfolio .photo-list {
    align-items: center;
    flex-direction: column;
  }
  #portfolio .photo-list .wrapper {
    display: flex;
    width: 80%;
  }
}
#portfolio .photo-list .wrapper {
  flex: 1 1;
  min-width: 280px;
}
#portfolio .photo-list .item {
  flex: 1 1;
  padding: 14px;
}
#portfolio .photo-list .item .photo {
  position: relative;
  cursor: pointer;
  border-radius: 2px;
}
#portfolio .photo-list .item .photo:hover .overlay {
  opacity: 1;
}
#portfolio .photo-list .item .photo .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.26);
  background-image: url("/img/enlarge.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#portfolio .photo-list .item .photo img {
  display: block;
  width: 100%;
}
#how {
  background-color: #43A047;
  color: #fff;
}
#how .timeline {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}
#how .timeline .timeslot {
  display: flex;
}
#how .timeline .timeslot .body {
  padding: 24px 14px;
  line-height: 1.6em;
  font-size: 1rem;
}
#how .timeline .timeslot .time {
  flex: 0 0 10%;
  text-align: center;
}
#how .timeline .timeslot .time span {
  display: inline-block;
  margin-top: 20px;
  font-size: 28px;
  width: 46px;
  line-height: 40px;
  color: #fff;
  background-color: #222651;
  border: 3px solid #5db130;
  border-radius: 50%;
}
#how .timeline .timeslot .extra {
  flex: 0 0 0;
}
@media screen and (min-width: 739px) {
  #how .timeline .timeslot .body {
    flex: 0 0 50%;
    max-width: 500px;
    border-left: 5px solid rgba(0, 0, 0, 0.12);
    font-size: 1.3rem;
  }
  #how .timeline .timeslot:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }
  #how .timeline .timeslot:nth-child(2n + 1) .body {
    text-align: left;
    border-left: none;
    text-align: right;
  }
  #how .timeline .timeslot:nth-child(2n + 1) .time {
    border-left: 5px solid rgba(0, 0, 0, 0.12);
  }
  #how .timeline .timeslot .extra {
    flex: 0 0 40%;
  }
}
#pricing {
  background-color: #fff;
}
#pricing .bonus {
  padding-top: 36px;
}
#pricing .price-list {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
  margin-left: -24px;
  margin-right: -24px;
  max-height: 900px;
}
#pricing .price-list.hidden {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-out;
  -o-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out;
}
#pricing .price-list .arrow {
  flex-grow: 1;
  display: block;
  min-width: 45px;
  position: relative;
  cursor: pointer;
}
#pricing .price-list .arrow:hover img {
  -webkit-filter: brightness(0.4);
  -moz-filter: brightness(0.4);
  filter: brightness(0.4);
}
#pricing .price-list .arrow img {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 45px;
}
#pricing .price-list .arrow .prev {
  right: 5px;
}
#pricing .price-list .arrow .next {
  left: 5px;
}
#pricing .price-list .item {
  width: 0;
  border-radius: 2px;
  overflow: hidden;
}
#pricing .price-list .item.active {
  margin: 24px 4px;
  width: 260px;
}
@media screen and (max-width: 993px) {
  #pricing .price-list .item.active .back {
    -webkit-transition: transform 0.6s cubic-bezier(0.4, -0.4, 0.6, 1.4);
    -o-transition: transform 0.6s cubic-bezier(0.4, -0.4, 0.6, 1.4);
    transition: transform 0.6s cubic-bezier(0.4, -0.4, 0.6, 1.4);
    transform: rotate3d(0, 0, 1, 359deg);
  }
}
#pricing .price-list .item:hover .back {
  -webkit-transition: transform 0.6s cubic-bezier(0.4, -0.4, 0.6, 1.4);
  -o-transition: transform 0.6s cubic-bezier(0.4, -0.4, 0.6, 1.4);
  transition: transform 0.6s cubic-bezier(0.4, -0.4, 0.6, 1.4);
  transform: rotate3d(0, 0, 1, 359deg);
}
#pricing .price-list .item:hover .head .desc {
  opacity: 1;
}
#pricing .price-list .item:hover .head .title {
  opacity: .2;
}
#pricing .price-list .item .head {
  padding: 24px 16px;
  position: relative;
}
#pricing .price-list .item .head .desc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#pricing .price-list .item .head .back img {
  width: 100%;
}
#pricing .price-list .item .head .title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -20px;
}
#pricing .price-list .item .head .title h3 {
  margin: 0;
  font-size: 2.6em;
  font-weight: 300;
}
#pricing .price-list .item .body {
  padding: 0 16px;
}
#pricing .price-list .item .body p {
  margin: 0px;
}
#pricing .price-list .item .body p.feature {
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.1em;
}
#pricing .price-list .item .body p.feature + span {
  display: inline-block;
  margin-bottom: 14px;
  width: 100%;
  text-align: center;
  font-weight: 300;
}
#pricing .price-list .item .price {
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #009688;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
#pricing .price-list .item .price:hover {
  background-color: #43A047;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media screen and (min-width: 994px) {
  #pricing .price-list .item {
    flex: 1 0;
    margin: 24px 12px;
    max-width: 280px;
  }
  #pricing .price-list .arrow {
    display: none;
  }
}
#pricing .order-form-container h3,
#pricing .order-success h3 {
  font-size: 1.2rem;
  font-weight: 300;
}
#pricing .order-form-container h3 a,
#pricing .order-success h3 a {
  margin-left: -37px;
}
#pricing .order-form-container h3 span,
#pricing .order-success h3 span {
  vertical-align: super;
}
#pricing .order-form-container .actions,
#pricing .order-success .actions {
  float: none;
  clear: both;
  text-align: right;
  padding-top: 14px;
  padding-bottom: 14px;
}
#pricing .order-form-container {
  margin: 0 auto;
  width: 95%;
  max-width: 400px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
#pricing .order-form-container.show {
  max-height: 650px;
  overflow: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.4s linear 0.4s;
  -o-transition: opacity 0.4s linear 0.4s;
  transition: opacity 0.4s linear 0.4s;
}
#pricing .order-form-container .payment-type .line-break {
  height: 7px;
}
@media screen and (min-width: 430px) {
  #pricing .order-form-container .payment-type .line-break {
    display: none;
  }
}
#pricing .order-form-container .payment-type label {
  margin-left: 4px;
}
#pricing .order-form-container .logo {
  margin: 24px 0;
  max-height: 83px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s linear;
  -o-transition: max-height 0.3s linear;
  transition: max-height 0.3s linear;
}
#pricing .order-form-container .logo.hidden {
  max-height: 0;
}
#pricing .order-form-container .logo.hidden img {
  opacity: 0;
}
#pricing .order-form-container .logo img {
  height: 55px;
  margin-right: 14px;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#pricing .order-form-container .accept-offer {
  display: flex;
}
#pricing .order-form-container .accept-offer input {
  flex-shrink: 0;
  margin-top: 2px;
}
#pricing .order-form-container .accept-offer label {
  margin-left: 7px;
}
#pricing .order-form-container .actions button {
  background-color: #009688;
  color: #fff;
}
#pricing .order-success {
  margin: 0 auto;
  width: 95%;
  max-width: 400px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
#pricing .order-success.show {
  max-height: 650px;
  overflow: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}
#pricing .order-success p {
  font-size: 1rem;
  text-align: left;
}
#pricing .order-success .actions button {
  color: #009688;
}
