<svg version="1.1" width="100%" viewbox="60 0 650 295" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    xml:space="preserve">
    <style type="text/css">
        .st0 {
            fill: #222750;
            font-family: Roboto;
            font-weight: 300;
            font-size: 108px;
        }

        .st1 {
            fill: #5DB130;
        }

        .st2 {
            fill: #222651;
        }

        .st3 {
            fill: #FFFFFF;
            font-family: Roboto;
            font-weight: 400;
            font-size: 40px;
        }
    </style>
    <text x="56" y="290" class="st0">C H E C K&nbsp;&nbsp;&nbsp;I N</text>
    <path class="st1" d="M662.6,64.8c0-34.4-27.9-62.3-62.3-62.3c-34.4,0-62.3,27.9-62.3,62.3c0,16.8,6.7,32.1,17.5,43.3l-0.1,0.8
	c0,0,36.4,35.5,43.4,78h0.7h1.7h1.1c7-42.4,43.2-78,43.2-78l-0.3-0.4C655.9,97.3,662.6,81.6,662.6,64.8z" />
    <circle class="st2" cx="600.3" cy="66" r="52.6" />
    <text x="556.6246" y="81.1982" class="st3">TMN</text>
</svg>