<div id="navbar" {{ if eq $.IsHome false }} class="no-expand blog" {{ end }} >
    <div class="container">
        <!--<button type="button" class="navbar-toggle" id="nav-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>-->
        <ul class="nav collapse" id="nav">
            <li class="collapse">
                <a href="#main" class="nav-link index-link" data-active-until="main-end">
                    О проекте
                </a>
            </li>
            <li class="collapse">
                <a href="#pricing" class="nav-link index-link" data-active-until="pricing-end">
                    Цены
                </a>
            </li>
            <li class="collapse">
                <a href="#contacts" class="nav-link index-link" data-active-until="contacts-end" data-active-after="contacts-start">
                    Контакты
                </a>
            </li>
            <li>
                <a href="/post/" class="nav-link {{ if eq $.IsHome false }} active {{ end}}">
                    Блог
                </a>
            </li>
        </ul>
        <div class="logo">
            <a href="index.html" class="nav-link">
                Check in
            </a>
            <img src="/img/logo-check.svg" alt="logo"/>
        </div>
    </div>
</div>