{{ partial "header.html" . }}

    <section id="top">
        <!--<img class="logo" alt="logo-full" src="/img/logo-full.svg"></logo>-->
        <div class="top-content">
            <div class="logo">
                {{ partial "logo.html" . }}
            </div>
            <h1>фотопрогрулки по Тюмени</h1>
        </div>
    </section>

    <section id="main" class="text-left">
        <div>
            <h2 class="header"><b>Фотопрогулка</b> – это ваша обычная прогулка, к которой присоединяется фотограф.</h2>
            <p>Приятным бонусом к ярким фото станет интервью с вами на странице проекта.</p>
            <p>Для чего это нужно? Тюмень – лучший город Земли, и в нём живут лучшие на планете люди. Check in TMN расскажет вам о них. А точнее – о вас!</p>
        </div>
    </section>

    <section id="portfolio">
        <div>
            <h2 class="header">Портфолио</h2>
            <div class="photo-list">
                <div class="wrapper">
                    {{ range split "01,02,03" "," }}
                        {{ partial "photoWrapper.html" . }}
                    {{ end }}
                </div>
                <div class="wrapper">
                    {{ range split "04,05,06" "," }}
                        {{ partial "photoWrapper.html" . }}
                    {{ end }}
                </div>
            </div>
        </div>
    </section>

    <section id="how">
        <div>
            <h2 class="header">Как устроить прогулку с фотографом?</h2>
            <div class="timeline">
                <div class="timeslot">
                    <div class="extra"></div>
                    <div class="time"><span>1</span></div>
                    <div class="body">
                        Закажите прогулку на сайте
                    </div>
                </div>
                <div class="timeslot">
                    <div class="extra"></div>
                    <div class="time"><span>2</span></div>
                    <div class="body">
                        Мы перезвоним вам и договоримся о времени и месте. Если погода испортится – можно перенести дату, хотя дождь не помеха для отличных фото
                    </div>
                </div>
                <div class="timeslot">
                    <div class="extra"></div>
                    <div class="time"><span>3</span></div>
                    <div class="body">
                        Приходите вовремя, фотограф проведет съемку и передаст фото в обработку.
                    </div>
                </div>
                <div class="timeslot">
                    <div class="extra"></div>
                    <div class="time"><span>4</span></div>
                    <div class="body">
                        Мы обработаем фото не больше, чем за неделю и отправим вам через интернет (через Яндекс.диск или другой сервис)
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="pricing">
        <div>
            <h2 class="header">Заказать фотопрогулку</h2>
            <div class="cards-list">
                <div class="item card">
                    <div class="head">
                        <div class="back">
                            <img src="/img/pricing-lite.png"/>
                        </div>
                        <div class="desc">
                            Короткая фотосессия в любой точке Тюмени на ваш выбор. Идеально подойдёт тем, у кого на счету каждая минута. Фотосъёмка в парке рядом с работой во время обеденного перерыва или по пути на встречу – легко!
                        </div>
                        <div class="title">
                            <h3>Light</h3>
                        </div>
                    </div>
                    <div class="body">
                        <p class="feature">до 30 минут</p>
                        <span>продолжительность съемки</span>
                        <p class="feature">15</p>
                        <span>фото после обработки</span>
                    </div>
                    <div class="price">
                        <span>
						    Заказать за 1&nbsp;000&nbsp;&#8381;
				        </span>
                    </div>
                </div>
                <div class="item card">
                    <div class="head">
                        <div class="back">
                            <img src="/img/pricing-standard.png"/>
                        </div>
                        <div class="desc">
                            Фотопрогулка по Тюмени в любой части города по вашему желанию. Идеально подходит для съёмки Love-story и портфолио.
                        </div>
                        <div class="title">
                            <h3>Standard</h3>
                        </div>
                    </div>
                    <div class="body">
                        <p class="feature">30–50 минут</p>
                        <span>продолжительность съемки</span>
                        <p class="feature">35</p>
                        <span>фото после обработки</span>
                    </div>
                    <div class="price">
                        <span>
						    Заказать за 2&nbsp;000&nbsp;&#8381;
				        </span>
                    </div>
                </div>
                <div class="item card">
                    <div class="head">
                        <div class="back">
                            <img src="/img/pricing-full.png"/>
                        </div>
                        <div class="desc">
                            Длительная фотопрогулка по Тюмени в любой части города. По вашему желанию в формате полной прогулки возможно использование дополнительного реквизита, в зависимости от темы фотосъёмки.
                        </div>
                        <div class="title">
                            <h3>Full</h3>
                        </div>
                    </div>
                    <div class="body">
                        <p class="feature">50–80 минут</p>
                        <span>продолжительность съемки</span>
                        <p class="feature">55</p>
                        <span>фото после обработки</span>
                    </div>
                    <div class="price">
                        <span>
						    Заказать за 3&nbsp;000&nbsp;&#8381;
				        </span>
                    </div>
                </div>
            </div>
            <p>Бонус к каждой прогулке: интервью с хорошим человеком на стене Check in TMN)</p>
        </div>
    </section>

    <section id="blog">
        <div class="post-list">
            <h2 class="header">Новое в блоге</h2>
            {{ range first 3 .Data.Pages }}
            <div class="post post-preview">
                <div class="summary">
                    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                    {{ partial "tags.html" . }}
                    <div class="content">
                    {{ .Summary }}
                    </div>
                </div>
                {{ if .Truncated }}
                    <a class="read-more-link" href="{{ .RelPermalink }}">Читать дальше →</a>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </section>
{{ partial "footer.html" . }}